*{margin:0; padding:0; list-style-type:none; text-decoration:none;}
html{width: 100%;font-size: 62.5%;font-family:"Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;}
body{text-align: center;}
.guide{display: inline-block;margin: 2rem 0;width: 90%;}
.logo{float: left;width: 45%}
.logo img{width: 100%;}
.bar{display: none;}
.bar li{float: left;margin: 1.25rem 0 0 5rem;font-size:2.5rem;}
.bar a:link{color: rgba(57,114,152,1);}
.bar a:hover{text-decoration: underline;}
.bar a:visited{color: rgba(57,114,152,1);}
.bar span{text-decoration: ;border-bottom: 0.25rem dotted;}
.lang{margin-top: 1rem;font-size:3rem;border: 0.2rem solid;padding: 0.6rem;float: right;}
.lang span{color: rgba(255,255,255,1);background:rgba(57,114,152,1);}
.lang a:link{color: rgba(57,114,152,1);}
.lang a:hover{color: rgba(255,255,255,1);background:rgba(57,114,152,1);}
.pic{width: 96%;display: inline-block;overflow: hidden;}
.pic img{width: 200%;margin-left: -50%;}
.t{font-size:2.6rem;font-weight: bold;color: rgba(57,114,152,1);margin: 3rem auto 2rem auto;width: 90%;display: inline-block;border-bottom: 0.3rem solid;}
.pnt{width: 90%;display: inline-block;}
.pnt li{width: 100%;float: left;overflow: hidden;margin-top: 2rem;}
.pnt img{width: 100%;float: left;}
.pnt p{font-size:2.2rem;text-align: left;line-height: 2.5rem;}
.pnt span{font-size:2.5rem;font-weight: bold;}
.bg{width: 96%;display: inline-block;background:rgba(87,133,163,1);margin-top: 3rem;}
.t2{margin: 3rem auto 1rem auto;width: 90%;display: inline-block;}
.t2 p{font-size:3rem;font-weight: bold;color: rgba(255,255,255,1);padding-bottom: 2rem;}
.t2 span{border: 0.3rem solid;color: rgba(1,1,1,1);background:rgba(255,255,255,1);padding: 0.3rem 3rem;border-radius:3rem;font-size:3rem;}
.t2 span:active{color: rgba(255,255,255,1);background:rgba(1,1,1,1);}
.pd{width: 100%;display: inline-block;margin-bottom: 3rem;}
.pd li{width: 90%;display: inline-block;overflow: hidden;margin-top:1rem;padding: 2rem 0; border: 0.2rem solid rgba(255,255,255,1.00);}
.pd p{font-size:2.5rem;line-height: 3.5rem;color: rgba(255,255,255,1.00);}
.pd span{font-size:3rem;font-weight: bold; border-bottom: 0.3rem dotted;}
.brand{width: 90%;display: inline-block;margin: 1rem 0 3rem 0}
.brand img{width: 80%;}
.brand p{font-size:2.2rem;line-height: 2.5rem; text-align: left;margin-top: 2rem;}
.brand a:active{text-decoration: underline;}
.contact{width: 90%;display: inline-block;}
.contact li{width: 100%;float: left;margin-top: 2rem;}
.contact p{font-size:2.5rem;line-height: 3.5rem;}
.contact span{font-size:2.5rem;font-weight: bold;}
.contact img{width: 80%;margin-top: 5rem;}
.bg2{width: 96%;display: inline-block;background:rgba(57,114,152,1);margin-top: 5rem;}
.end{width: 95%;display: inline-block;padding: 1rem 0 5rem 0;}
.end p{font-size:2rem;margin-top: 2rem;color: rgba(255,255,255,1.00);}
.end a:link{color: rgba(255,255,255,1);}
.end a:active{text-decoration: underline;}
.end a:visited{color: rgba(255,255,255,1);}
.about{width: 90%;display: inline-block;}
.about p{font-size:2.5rem;text-align:left;line-height: 3.5rem;margin-top: 1rem;}
.about a:active{text-decoration: underline;}
.about img{width: 80%;margin-top: 3rem;}
.pic2{width: 90%;margin-top:3rem;display: inline-block;}
.pic2 img{width: 100%;}
.co{width: 90%;display: inline-block;}
.co li{display: inline-block;margin-top:2rem;}
.co img{width: 100%;border: 0.1rem solid rgba(0,0,0,0.20);}
.co p{font-size:2.5rem;line-height: 3.5rem;}
.co span{font-size:2.6rem;font-weight: bold;}
.list{width: 90%;margin-top:3rem;display: inline-block;}
.list li{width:100%;float: left;margin: 1rem 0; overflow: hidden;}
.list p{font-size:2.5rem;line-height: 3.5rem;}
.list span{width:100%;font-size:3rem;font-weight: bold;color: rgba(57,114,152,1);display: inline-block;border-bottom: 0.3rem solid;margin-bottom: 1rem;}